/* 
「階層チェック」
:hover {
    box-shadow: 0px 0px 3px 2px #999;
}
*/

/*----- section1-1 -----*/
/*----- 全体共通 -----*/

body{
    /*background-image: url("../A_img/overlord04.jpg"), url("../A_img/overlord02.jpg");
    background-color:rgba(255,255,255,0.45);
    background-blend-mode: hard-light;
    background-blend-mode: overlay;
    background-size: 50% auto, 50% auto;
    background-position: 0 0, 100% 0;
    background-repeat: repeat-y, repeat-y;*/
    font-family: 'Times New Roman';
    /*color: #ff5;*/
    overflow: auto;
    padding-bottom: 15vh;
}

.container{
    min-width: 360px;
}

.nav{
    border-bottom: 1px solid #ccc;
    padding: 8px 0;
}

.nav>a{
    padding: 2px 0 0;
    font-size: 1.7rem;
    text-align: center;
    color: #000;
    border-radius: 4px;
}

.header-title{
    margin: 1.5rem 0;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.mb{
    margin-bottom: 2rem;
}

input,
textarea,
select{
    width: 100%;
    padding: 8px;
    border: 1.5px solid #000;
    border-radius: 4px;
}

.nav>a:hover,
input:hover,
textarea:hover,
select:hover,

.G1-4-1 .tdiv:hover,
.G1-6-1-1 .tdiv:hover,
.G1-6-2-1 .tdiv:hover,

.source-box:hover{
    box-shadow: 0px 0px 4px 1px #40f;
    z-index: 3;
}

.nav>a:focus,
input:focus,
textarea:focus,
select:focus,

.G1-4-1 .tdiv:active,

.source-box:active{
    outline: 4px solid #74f;
    z-index: 3;
}

input[type="submit"],
input[type="button"]{
    padding: 10px 0;
    background-color: #fff;
    color: #000;
}

input[type="submit"].black,
input[type="button"].black,

.td .black{
    background-color: #000;
    color: #fff;

}
/*----- /section1-1 -----*/





/*----- section1-2 -----*/
/*----- テーブル用スタイル (G1-4, G1-5, G1-6, G1-7,) -----*/

.tdiv{
    background-color: #000;
    border: 1.5px solid #000;
    border-radius: 4px;
    margin-bottom: 1.5rem;
}

.td{
    background-color: #fcfcfc;
    border: 1.5px solid #000;
    border-radius: 4px;
    white-space: nowrap;
    overflow: hidden;
}

.post-title{
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 0.75rem 1.2rem;
}

.rank,
.rate{
    background-color: #000;
    color: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
}

.text-display{
    white-space: nowrap;
    white-space: pre;
    overflow: auto;
    max-height: 80vh;
}
/*----- /section1-2 -----*/





/*----- section1-3 -----*/
/*----- モーダル用スタイル (G1-4-2, G1-4-3, G1-6-1-1, G1-6-1-2, G1-6-2) -----*/

/* ファイル表示 */
.source-box{
    margin-bottom: 0.5rem;
    padding: 0;
    font-size: 0.75rem;
    text-align: center;
}

.source-box>img{
    width: 100%;
    max-height: 100px;
    object-fit: cover;
}

/* モーダルを非表示にする */
.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* モーダルのコンテンツ */
.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #eee;
    transform: translate(-50%, -50%);
    width: 75%;
    max-height: 90%;
    height: fit-content;
    text-align: center;
}

.modal-name{
    padding: 0.25rem 0;
}

.modal-source{
    margin: 0 1% 1%;
    overflow: auto;
}

.modal-source>img{
    width: 100%;
    object-fit: contain;
}
.modal-source>object{
    height: 70vh;
    min-width: 1000px;
    width: 100%;
}
/*----- /section1-3 -----*/








.img-wrap{
    width: auto;
    height: auto;
    display:flex;
}
.img-wrap img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}



.flexbox div{
    background: rgb(164, 175, 177);
  margin: 10px;
  width: 400px;
  height: 120px;
}

