/* 「ホバー、　フレームアウト！！」 */

/*:hover {
    box-shadow: 0px 0px 3px 2px #999;
}*/

body{
    color: #000;
}

.container{
    min-width: 360px;
}

.nav {
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
}

.header-title{
    margin: 1.5rem 0;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

input,
textarea,
select{
    width: 100%;
    padding: 8px;
    border: 1.5px solid #000;
    border-radius: 4px;
}

a.col:hover,
input:hover,
textarea:hover,
select:hover{
    box-shadow: 0px 0px 4px 1px #40f;
}

a.col:focus,
input:focus,
textarea:focus,
select:focus{
    outline: 4px solid #86f;
}

input[type="submit"],
input[type="button"]{
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    color: #000;
}

input[type="submit"]:active,
input[type="button"]:active {
    box-shadow: none;
}

input[type="submit"].black,
input[type="button"].black{
    background-color: #000;
    color: #fff;
}

a.col{
    font-size: 1.7rem;
    text-align: center;
    color: #000;
    border-radius: 4px;
}




/*
.tdiv{
    background-color: #f0f0f0;
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 2px #ccc;
    margin-bottom: 1rem;
}

.td{
    background-color: #fcfcfc;
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    box-shadow: 0px 0px 1.5px 1.5px #ccc inset;
    white-space: nowrap;
    overflow: hidden;
}

.title{
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 0.85rem 1.15rem;
}

.rank,
.rate{
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px 1px #ccc;
    color: #83f;
    font-weight: bold;
    background-color: #f0f0f0;
    white-space: nowrap;
    overflow: hidden;
}
*/
.tdiv{
    border: 1px solid #000;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.td{
    border: 1px solid #000;
    border-radius: 4px;
    white-space: nowrap;
    overflow: hidden;
}

.title{
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 0.85rem 1.15rem;
}

.rank,
.rate{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    font-weight: bold;
    
    white-space: nowrap;
    overflow: hidden;
}










.img-wrap{
    width: auto;
    height: auto;
    display:flex;
}
.img-wrap img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}



.flexbox div{
    background: rgb(164, 175, 177);
  margin: 10px;
  width: 400px;
  height: 120px;
}

