body {
    color: #000; 
}

.nav {
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
}

input,
textarea,
select{
    width: 100%;
    padding: 10px;
    border: 1.5px solid #000;
    border-radius: 4px;
}

a.col:hover,
input:hover,
textarea:hover,
select:hover{
    box-shadow: 0px 0px 4px 1px #40f;
}

a.col:focus,
input:focus,
textarea:focus,
select:focus{
    outline: 3px solid #97f;
}

/*:hover {
    outline: 5px solid #73f;
    box-shadow: 0px 0px 4px 3px #73f;
    box-shadow: 5px 5px 10px 1px #222;
    box-shadow: 2px 2px 3px 1px #999;
}*/


input[type="submit"],
input[type="button"]{
    background-color: #fff;
    color: #000;
}

input[type="submit"]:active,
input[type="button"]:active {
    box-shadow: none;
}

input[type="submit"].black,
input[type="button"].black{
    background-color: #000;
    color: #fff;
}

a.col{
    font-size: 1.7rem;
    text-align: center;
    color: #000;
    border-radius: 4px;
}
